<!DOCTYPE html>
<html lang="en">
<head>
    <title>CampusLostFound</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">  <!-- Ye naya wala -->
    <meta charset="UTF-8"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="search">
             <span class="search-icon">🔍</span>CampusLostFound
        </div>
        <div class="all-links">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('lost')}}">Lost</a>
            <a href="{{url_for('found')}}">Found</a>
            <a href="{{url_for('browse')}}">Browse</a>
            <a href="{{url_for('contact')}}">Contact</a>
        </div>
    </nav>
    
    <div class="form-container">
        <h2><i class="fa-regular fa-circle-check"></i> Report a found item</h2>
        <form method="POST" action="{{ url_for('found') }}">
            <div class="input-group">
                <label>Your Name:</label>
                <input type="text" name="student_name" required placeholder="e.g.Kunal Roy">
            </div>

            <div class="input-group">
                <label>Roll Number:</label>
                <input type="number" name="roll_number" required placeholder="e.g.2023219">
            </div>

            <div class="input-group">
                <label>Item Name:</label>
                <input type="text" name="item_name" required placeholder="What did you find?">
            </div>

            <div class="input-group">
                <label>Category:</label>
                <input type="text" name="category_name" required placeholder="e.g.Electronics/Id Card...">
            </div>

            <div class="input-group">
                <label>Found at location</label>
                <input type="text" name="last_seen" required placeholder="e.g.Canteen">
            </div>
            
            <div class="input-group">
                <label>Date found:</label>
                <input type="date" name="date_lost" required placeholder="Pick a date">
            </div>
            
            <div class="input-group">
                <label>Description:</label>
                <textarea name="description" rows="4" required placeholder="Describe the item clearly.."></textarea>
            </div>

            <div class="input-group">
                <label>Where is the item now?:</label>
                <input type="text" name="item_now" required placeholder="e.g.Room 204">
            </div>
            
            <div class="input-group">
                <label>Contact Number:</label>
                <input type="text" name="contact_number" required placeholder="Your mobile number">
            </div>
            
            <button class="found_button" type="submit">Submit report</button>
            
            {% if submitted %}
            <p class="success-msg">Submitted Successfully ✅</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
